section.captions
  h2.captions__title.visually-hidden Фотографии, события, люди
  .captions__container.container

    .captions__wrapper.captions__wrapper--barber
      figure.caption.caption--barber
        figcaption.caption__title Barber Master Show от Hairgum
        ul.caption__list
          li.caption__img-wrapper.caption__img-wrapper--140x210.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
              data-src="http://placehold.it/269x286/30",
              src="",
              alt="Barber Master Show от Hairgum")
          li.caption__img-wrapper.caption__img-wrapper--180x120.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/32 300w, http://placehold.it/600x600/32 600w, http://placehold.it/1200x1200/32 1200w, http://placehold.it/2400x2400/32 2400w",
              data-src="http://placehold.it/269x286/32",
              src="",
              alt="Barber Master Show от Hairgum")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Barber Master Show от Hairgum")

      include throwback__quote

    figure.caption.caption--coffee-break
      figcaption.caption__title Кофе-брейки и лаундж-зоны
      ul.caption__list
        li.caption__img-wrapper.caption__img-wrapper--220x146.loading
          img.caption__img.lazyload(
            data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
            data-src="http://placehold.it/269x286/35",
            src="",
            alt="Кофе-брейки и лаундж-зоны")
        li.caption__img-wrapper.caption__img-wrapper--180x120.loading
          img.caption__img.lazyload(
            data-srcset="http://placehold.it/300x300/32 300w, http://placehold.it/600x600/32 600w, http://placehold.it/1200x1200/32 1200w, http://placehold.it/2400x2400/32 2400w",
            data-src="http://placehold.it/269x286/32",
            src="",
            alt="Кофе-брейки и лаундж-зоны")

    .captions__wrapper.captions__wrapper--nouvelle
      figure.caption.caption--nouvelle
        figcaption.caption__title Фэшн-колекция от Nouvelle
        ul.caption__list
          li.caption__img-wrapper.caption__img-wrapper--140x210.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
              data-src="http://placehold.it/269x286/30",
              src="",
              alt="Фэшн-колекция от Nouvelle")
          li.caption__img-wrapper.caption__img-wrapper--180x120.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/32 300w, http://placehold.it/600x600/32 600w, http://placehold.it/1200x1200/32 1200w, http://placehold.it/2400x2400/32 2400w",
              data-src="http://placehold.it/269x286/32",
              src="",
              alt="Фэшн-колекция от Nouvelle")
          li.caption__img-wrapper.caption__img-wrapper--230x153.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/41 300w, http://placehold.it/600x600/41 600w, http://placehold.it/1200x1200/41 1200w, http://placehold.it/2400x2400/41 2400w",
              data-src="http://placehold.it/269x286/41",
              src="",
              alt="Фэшн-колекция от Nouvelle")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Фэшн-колекция от Nouvelle")

      include throwback__quote

    figure.caption.caption--brandwall-right
      ul.caption__list
        li.caption__img-wrapper.caption__img-wrapper--220x146.loading
          img.caption__img.lazyload(
            data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
            data-src="http://placehold.it/269x286/30",
            src="",
            alt="Brandwall")

    .captions__wrapper
      figure.caption.caption--oskar
        figcaption.caption__title Oskar от Анны Кравченко и Ольги Загоровской
        ul.caption__list
          li.caption__img-wrapper.caption__img-wrapper--180x120.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/32 300w, http://placehold.it/600x600/32 600w, http://placehold.it/1200x1200/32 1200w, http://placehold.it/2400x2400/32 2400w",
              data-src="http://placehold.it/269x286/32",
              src="",
              alt="Oskar от Анны Кравченко и Ольги Загоровской")
          li.caption__img-wrapper.caption__img-wrapper--140x210.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
              data-src="http://placehold.it/269x286/30",
              src="",
              alt="Oskar от Анны Кравченко и Ольги Загоровской")
          li.caption__img-wrapper.caption__img-wrapper--140x93.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/25 300w, http://placehold.it/600x600/25 600w, http://placehold.it/1200x1200/25 1200w, http://placehold.it/2400x2400/25 2400w",
              data-src="http://placehold.it/269x286/25",
              src="",
              alt="Oskar от Анны Кравченко и Ольги Загоровской")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Oskar от Анны Кравченко и Ольги Загоровской")

      include throwback__quote--right

    figure.caption.caption--adore
      figcaption.caption__title Трендовый дизайн от Adore
      ul.caption__list
        li.caption__img-wrapper.caption__img-wrapper--220x146.loading
          img.caption__img.lazyload(
            data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
            data-src="http://placehold.it/269x286/35",
            src="",
            alt="Трендовый дизайн от Adore")
        li.caption__img-wrapper.caption__img-wrapper--180x120.loading
          img.caption__img.lazyload(
            data-srcset="http://placehold.it/300x300/32 300w, http://placehold.it/600x600/32 600w, http://placehold.it/1200x1200/32 1200w, http://placehold.it/2400x2400/32 2400w",
            data-src="http://placehold.it/269x286/32",
            src="",
            alt="Трендовый дизайн от Adore")

    figure.caption.caption--brandwall-left
      ul.caption__list
        li.caption__img-wrapper.caption__img-wrapper--220x146.loading
          img.caption__img.lazyload(
            data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
            data-src="http://placehold.it/269x286/30",
            src="",
            alt="Brandwall")

    .captions__wrapper
      figure.caption.caption--elan
        figcaption.caption__title Уроки успешного визажа от Elan
        ul.caption__list
          li.caption__img-wrapper.caption__img-wrapper--120x180.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/18 300w, http://placehold.it/600x600/18 600w, http://placehold.it/1200x1200/18 1200w, http://placehold.it/2400x2400/18 2400w",
              data-src="http://placehold.it/269x286/18",
              src="",
              alt="Уроки успешного визажа от Elan")
          li.caption__img-wrapper.caption__img-wrapper--230x153.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/41 300w, http://placehold.it/600x600/41 600w, http://placehold.it/1200x1200/41 1200w, http://placehold.it/2400x2400/41 2400w",
              data-src="http://placehold.it/269x286/41",
              src="",
              alt="Уроки успешного визажа от Elan")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Уроки успешного визажа от Elan")

      include throwback__quote

    .captions__wrapper
      figure.caption.caption--snb
        figcaption.caption__title Практичные доклады от SNB и Yuliya Stadnik Nail Academy
        ul.caption__list
          li.caption__img-wrapper.caption__img-wrapper--160x107.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/49 300w, http://placehold.it/600x600/49 600w, http://placehold.it/1200x1200/49 1200w, http://placehold.it/2400x2400/49 2400w",
              data-src="http://placehold.it/269x286/49",
              src="",
              alt="Практичные доклады от SNB и Yuliya Stadnik Nail Academy")
          li.caption__img-wrapper.caption__img-wrapper--180x120.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
              data-src="http://placehold.it/269x286/30",
              src="",
              alt="Практичные доклады от SNB и Yuliya Stadnik Nail Academy")
          li.caption__img-wrapper.caption__img-wrapper--229x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/25 300w, http://placehold.it/600x600/25 600w, http://placehold.it/1200x1200/25 1200w, http://placehold.it/2400x2400/25 2400w",
              data-src="http://placehold.it/269x286/25",
              src="",
              alt="Практичные доклады от SNB и Yuliya Stadnik Nail Academy")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Практичные доклады от SNB и Yuliya Stadnik Nail Academy")

      include throwback__quote--right

    .captions__wrapper
      figure.caption.caption--gama
        figcaption.caption__title Only Tools Show от El Gitano и Gama
        ul.caption__list
          li.caption__img-wrapper.caption__img-wrapper--120x180.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/18 300w, http://placehold.it/600x600/18 600w, http://placehold.it/1200x1200/18 1200w, http://placehold.it/2400x2400/18 2400w",
              data-src="http://placehold.it/269x286/18",
              src="",
              alt="Only Tools Show от El Gitano и Gama")
          li.caption__img-wrapper.caption__img-wrapper--180x120.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
              data-src="http://placehold.it/269x286/30",
              src="",
              alt="Only Tools Show от El Gitano и Gama")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Only Tools Show от El Gitano и Gama")

      include throwback__quote

    figure.caption.caption--exhibition
      figcaption.caption__title Выставка брендов
      ul.caption__list
        li.caption__img-wrapper.caption__img-wrapper--220x146.loading
          img.caption__img.lazyload(
            data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
            data-src="http://placehold.it/269x286/35",
            src="",
            alt="Выставка брендов")
        li.caption__img-wrapper.caption__img-wrapper--180x120.loading
          img.caption__img.lazyload(
            data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
            data-src="http://placehold.it/269x286/30",
            src="",
            alt="Выставка брендов")

    .captions__wrapper
      figure.caption.caption--lakme
        figcaption.caption__title Grand Show от Lakme
        ul.caption__list
          li.caption__img-wrapper.caption__img-wrapper--120x180.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/32 300w, http://placehold.it/600x600/32 600w, http://placehold.it/1200x1200/32 1200w, http://placehold.it/2400x2400/32 2400w",
              data-src="http://placehold.it/269x286/32",
              src="",
              alt="Grand Show от Lakme")
          li.caption__img-wrapper.caption__img-wrapper--180x120.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
              data-src="http://placehold.it/269x286/30",
              src="",
              alt="Grand Show от Lakme")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Grand Show от Lakme")
          li.caption__img-wrapper.caption__img-wrapper--180x120.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/25 300w, http://placehold.it/600x600/25 600w, http://placehold.it/1200x1200/25 1200w, http://placehold.it/2400x2400/25 2400w",
              data-src="http://placehold.it/269x286/25",
              src="",
              alt="Grand Show от Lakme")

      include throwback__quote

    .captions__wrapper
      figure.caption.caption--dream-team
        figcaption.caption__title Командный конкурс Dream Team
        ul.caption__list
          li.caption__img-wrapper.caption__img-wrapper--150x100.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/32 300w, http://placehold.it/600x600/32 600w, http://placehold.it/1200x1200/32 1200w, http://placehold.it/2400x2400/32 2400w",
              data-src="http://placehold.it/269x286/32",
              src="",
              alt="Командный конкурс Dream Team")
          li.caption__img-wrapper.caption__img-wrapper--180x120.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
              data-src="http://placehold.it/269x286/30",
              src="",
              alt="Командный конкурс Dream Team")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Командный конкурс Dream Team")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Командный конкурс Dream Team")

      include throwback__quote--right

    .captions__wrapper
      figure.caption.caption--party
        figcaption.caption__title Отпадная вечеринка
        ul.caption__list
          li.caption__img-wrapper.caption__img-wrapper--200x133.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/32 300w, http://placehold.it/600x600/32 600w, http://placehold.it/1200x1200/32 1200w, http://placehold.it/2400x2400/32 2400w",
              data-src="http://placehold.it/269x286/32",
              src="",
              alt="Отпадная вечеринка")
          li.caption__img-wrapper.caption__img-wrapper--180x120.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/30 300w, http://placehold.it/600x600/30 600w, http://placehold.it/1200x1200/30 1200w, http://placehold.it/2400x2400/30 2400w",
              data-src="http://placehold.it/269x286/30",
              src="",
              alt="Отпадная вечеринка")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Отпадная вечеринка")
          li.caption__img-wrapper.caption__img-wrapper--220x146.loading
            img.caption__img.lazyload(
              data-srcset="http://placehold.it/300x300/35 300w, http://placehold.it/600x600/35 600w, http://placehold.it/1200x1200/35 1200w, http://placehold.it/2400x2400/35 2400w",
              data-src="http://placehold.it/269x286/35",
              src="",
              alt="Отпадная вечеринка")

      include throwback__quote--right

    //- .captions__more
    //-   p.captions__advertising А остальные фотографии #[br]смотрите на нашем Драйве
    //-   a.captions__link.button.button--red(href="", target="_blank", rel="noopener")
    //-     span Смотреть все фото
