mixin article(title, publishedDatetime, published, about)
  article.card.card--news.news__card(data-aos="fade-up", data-aos-once="true")
    a.card__link(href="/article.html")
      .card__img-wrapper.loading
        //- шаги srcset:
        //- 600
        //- 900
        //- 1200
        //- 1500
        //- 1800
        img.card__img.lazyload(
          data-srcset="./img/lectors/svyshuk_580.jpg 600w, ./img/lectors/svyshuk_870.jpg 900w ./img/lectors/svyshuk_870.jpg 1200w ./img/lectors/svyshuk_870.jpg 1500w ./img/lectors/svyshuk_870.jpg 1800w",
          data-src="./img/lectors/svyshuk_580.jpg",
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
          alt=title)
      h2.card__name= title
    time.card__published(datetime=publishedDatetime)= published

    p.card__about= about
    .comments.card__comments
      a.comments__item-wrapper.comments__item-wrapper--comments(href="#")
        span.comments__item Комментарии: 3
      .comments__item-wrapper.comments__item-wrapper--views
        span.comments__item Просмотры: 20

section.news
  .container.news__container

    .news__wrapper
      h1.news__title Новости

      //- Показываем, если новостей нет
      .news__inner.news__inner--start
        p.news__text Новостей пока нет, приходите позже

      //- Собственно, новости
      .news__inner
        +article("Далеко-далеко.", "2018-10-15 19:00", "15 октября, 2018", "Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Свое выйти свой, диких ее пор которой если вопрос рыбнымио.")
        +article("Далеко-далеко за словесными горами в стране.", "2018-10-15 19:00", "15 октября, 2018", "Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Страна текст даже однажды запятой, безопасную злых! Страна путь текста встретил вопроса однажды! Но текста страну ведущими рыбного заглавных одна до алфавит своих ее снова, рукописи свою текстов которое имени пунктуация. Имеет по всей над речью до. Жизни ручеек мир дороге.")

        include ../../modules/commercial

        +article("Далеко-далеко.", "2018-10-15 19:00", "15 октября, 2018", "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Его по всей большого до текст себя переписывается великий знаках прямо. Заглавных, рыбными. Ты путь, даже, жизни наш семантика своего сих снова имеет, вдали маленький они грустный реторический послушавшись всеми меня.")
        +article("Далеко-далеко за словесными горами в стране.", "2018-10-15 19:00", "15 октября, 2018", "Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты.")
        +article("Далеко-далеко, за словесными.", "2018-10-15 19:00", "15 октября, 2018", "Далеко-далеко за словесными горами в стране.")
        +article("Далеко-далеко, за.", "2018-10-15 19:00", "15 октября, 2018", "Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Имени напоивший он запятой меня то имеет океана толку жаренные злых всемогущая однажды что по всей, взгляд правилами рукопись выйти рекламных!")

      //- Показываем, если новости всё
      .news__inner.news__inner--end
        p.news__text Ого, вы дошли до конца
