section.activities.activities--relax
  .container.activities__container
    .activities__wrapper.activities__wrapper--text(
      data-aos="fade-up",
      data-aos-once="true",
      data-aos-offset="200")
      h2.activities__title Расслабьтесь на VODA club
      p.activities__description Всесезонные бассейны, сауны, джакузи и SPA помогут освободиться от накопленного стресса
        br
        br
        | Массажисты подготовили для вас 10 видов массажа, в том числе классический и стоун-массаж

    .activities__wrapper.activities__img-wrapper.loading(
        data-aos="fade-zoom-in",
        data-aos-once="true",
        data-aos-offset="200",
        data-aos-delay="600",
        data-aos-duration="1000")
      img.activities__img.lazyload(
        data-srcset="../img/recreation/spa_360.jpg 360w, ../img/recreation/spa_720.jpg 720w, ../img/recreation/spa_1440.jpg 1440w",
        data-src="../img/recreation/spa_360.jpg",
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
        alt="Массаж")
