section.speakers
  .speakers__container.container
    h2.speakers__title Спикеры

    ul.speakers__wrapper
      li.flow.speakers__flow
        b.flow__title Парикмахерство
        ul.flow__list
          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/svyshuk_290.jpg 300w, ./img/lectors/svyshuk_580.jpg 600w, ./img/lectors/svyshuk_870.jpg 900w",
                data-src="./img/lectors/svyshuk_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Надежда Свищук")
            h3.card__name Надежда Свищук
            p.card__about Шеф-колорист Lakme в Украине

          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/zagorovska_290.jpg 300w, ./img/lectors/zagorovska_580.jpg 600w, ./img/lectors/zagorovska_870.jpg 900w",
                data-src="./img/lectors/zagorovska_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Ольга Загоровская")
            h3.card__name Ольга Загоровская
            p.card__about Технолог по стилю Lakme

          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/kormakov_290.jpg 300w, ./img/lectors/kormakov_580.jpg 600w, ./img/lectors/kormakov_870.jpg 900w",
                data-src="./img/lectors/kormakov_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Сергей Кормаков")
            h3.card__name Сергей Кормаков
            p.card__about Шеф-технолог Lakme, совладелец компании Prof Cosmetic

      li.flow.speakers__flow
        b.flow__title Маникюр
        ul.flow__list
          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/matveeva_290.jpg 300w, ./img/lectors/matveeva_580.jpg 600w, ./img/lectors/matveeva_870.jpg 900w",
                data-src="./img/lectors/matveeva_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Виктория Матвеева")
            h3.card__name Виктория Матвеева
            p.card__about Технолог ADORE™

          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/baumann_290.jpg 300w, ./img/lectors/baumann_580.jpg 600w, ./img/lectors/baumann_870.jpg 900w",
                data-src="./img/lectors/baumann_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Дитер Бауманн")
            h3.card__name Дитер Бауманн
            p.card__about Преподаватель и практикующий подолог, один из разработчиков Закона о Подологии в Германии

            ul.social.card__social
              li.social__link-wrapper
                a.social__link(href="#")
                  span Instagram
              li.social__link-wrapper
                a.social__link(href="#")
                  span Instagram

          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/egorova_290.jpg 300w, ./img/lectors/egorova_580.jpg 600w, ./img/lectors/egorova_870.jpg 900w",
                data-src="./img/lectors/egorova_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Ирина Егорова")
            h3.card__name Ирина Егорова
            p.card__about Создатель и руководитель «Подологической Практики Ирины Егоровой»

            ul.social.card__social
              li.social__link-wrapper
                a.social__link(href="#")
                  span Instagram
              li.social__link-wrapper
                a.social__link(href="#")
                  span Instagram

          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/sakelary_290.jpg 300w, ./img/lectors/sakelary_580.jpg 600w, ./img/lectors/sakelary_870.jpg 900w",
                data-src="./img/lectors/sakelary_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Ксения Сакелари")
            h3.card__name Ксения Сакелари
            p.card__about Владелец Учебного центра Ксении Сакелари

            ul.social.card__social
              li.social__link-wrapper
                a.social__link(href="#")
                  span Instagram
              li.social__link-wrapper
                a.social__link(href="#")
                  span Instagram
              li.social__link-wrapper
                a.social__link(href="#")
                  span Instagram

          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-src="./img/lectors/soloveva.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Татьяна Соловьёва")
            h3.card__name Татьяна Соловьёва
            p.card__about Основатель ногтевой школы Solo Art и Noel™

          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/stadnik_290.jpg 300w, ./img/lectors/stadnik_580.jpg 600w, ./img/lectors/stadnik_870.jpg 900w",
                data-src="./img/lectors/stadnik_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Юлия Стадник")
            h3.card__name Юлия Стадник
            p.card__about Основатель YS Nail Academy и YS Nail Salon

      li.flow.speakers__flow
        b.flow__title Визаж
        ul.flow__list
          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/antonova_290.jpg 300w, ./img/lectors/antonova_580.jpg 600w, ./img/lectors/antonova_870.jpg 900w",
                data-src="./img/lectors/antonova_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Алёна Антонова")
            h3.card__name Алёна Антонова
            p.card__about Основатель A-Priori Beauty Bar и A-Priori Beauty Institute

          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/kravchenko_290.jpg 300w, ./img/lectors/kravchenko_580.jpg 600w",
                data-src="./img/lectors/kravchenko_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Анна Кравченко")
            h3.card__name Анна Кравченко
            p.card__about Сооснователь ELAN™ и Международной Ассоциации Бровистов

          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/gilyov_290.jpg 300w, ./img/lectors/gilyov_580.jpg 600w, ./img/lectors/gilyov_870.jpg 900w",
                data-src="./img/lectors/gilyov_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Максим Гилёв")
            h3.card__name Максим Гилёв
            p.card__about Cтилист, визажист, парикмахер, гример и имиджмейкер. Основатель Академии макияжа Максима Гилева «MGA»

      li.flow.speakers__flow
        b.flow__title Менеджмент
        ul.flow__list
          li.card.speakers__card
            .card__img-wrapper.loading
              img.card__img.lazyload(
                data-srcset="./img/lectors/kurchina_290.jpg 300w, ./img/lectors/kurchina_580.jpg 600w, ./img/lectors/kurchina_870.jpg 900w",
                data-src="./img/lectors/kurchina_290.jpg",
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
                alt="Елена Курчина")
            h3.card__name Елена Курчина
            p.card__about Сооснователь ELAN™ и совладелeц обучающего центра Академия карьеры салонного бизнеса «Руки-Ножницы»
