block variables

<!-- facebook open graph tags -->
meta(property="og:type" content='website')
meta(property="og:url" content="https://molfarforum.com/")
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content=ogImage)
meta(property="og:image:secure_url" content=ogImage)

<!-- twitter card tags additive with the og: tags -->
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:domain" value="molfarforum.com")
meta(name="twitter:title" value=title)
meta(name="twitter:description" value=description)
meta(name="twitter:image" content=ogImage)
meta(name="twitter:url" value="https://molfarforum.com/")
meta(name="twitter:label1" value="Дата")
meta(name="twitter:data1" value="12 – 16 мая")
meta(name="twitter:label2" value="Локация")
meta(name="twitter:data2" value="Буковель, Украина")
